<!DOCTYPE html>
<html>
    <head>
        <title>{{bot_name}} - Leaderboard</title>
        <link rel="favicon icon" href="../static/milk.png">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="navbar">
                    <div class="section brand">
                        <a href="/"><img src="../static/milk.png"> NOT MILK</a>
                    </div>
                    <div class="section links">
                        <a href="/leaderboard" class="button"><i class="fa-solid fa-chart-simple"></i> Leaderboard</a>
                    </div>
                    <div class="section searchbox">
                        <form action="/search" method="get">
                            <label for="query"><i class="fa-solid fa-magnifying-glass"></i></label>
                            <input type="text" name="query" placeholder="Find user...">
                        </form>
                    </div>
                </div>
                <div class="page-content" style="justify-content:center;">
                    
                    <div class="block found">
                        <div class="block-info">
                            <div class="summary">
                                <h3>Top {{length}} best 'not milk' sippers 🥛 </h3>
                                <div class="list">
                                    <a{{#each users}}
                                    <div class="item">
                                        <p class="position">{{@index}}</p>
                                        <div class="icon">
                                            <img src="{{this.1}}">
                                        </div>
                                        <a class="name" href="https://fem.ilotterytea.kz/user/{{this.0}}">{{this.0}}</a>
                                        <p class="count">{{this.2}}</p>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        let positions = document.getElementsByClassName("position");

        for (let pos of positions) {
            pos.innerHTML = parseInt(pos.innerHTML) + 1;
        }

        function copy(text) {
            navigator.clipboard.writeText(text);
            alert('Successfully copied to your clipboard');
        }
    </script>
</html>
