<!DOCTYPE html>
<html>
    <head>
        <title>{{bot_name}} - Found {{length}} users by query '{{query}}'</title>
        <link rel="favicon icon" href="../static/milk.png">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="navbar">
                    <div class="section brand">
                        <a href="/"><img src="../static/milk.png"> NOT MILK</a>
                    </div>
                    <div class="section links">
                        <a href="/leaderboard" class="button"><i class="fa-solid fa-chart-simple"></i> Leaderboard</a>
                    </div>
                    <div class="section searchbox">
                        <form action="/search" method="get">
                            <label for="query"><i class="fa-solid fa-magnifying-glass"></i></label>
                            <input type="text" name="query" placeholder="Find user...">
                        </form>
                    </div>
                </div>
                <div class="page-content" style="justify-content:center;">
                    
                    <div class="block found">
                        <div class="block-info">
                            <div class="summary">
                                <h3>Found {{length}} users by query '{{query}}'</h3>
                                <div class="list">
                                    {{#each users}}
                                    <a href="/user/{{this.0}}" class="item">
                                        <div class="icon">
                                            <img src="{{this.1}}">
                                        </div>
                                        <p class="name">{{this.0}}</p>
                                    </a>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        function copy(text) {
            navigator.clipboard.writeText(text);
            alert('Successfully copied to your clipboard');
        }
    </script>
</html>